USE [master]
GO
/****** Object:  Database [DB_Capstone]    Script Date: 01/12/2024 9:28:05 PM ******/
CREATE DATABASE [DB_Capstone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Capstone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_Capstone.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Capstone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_Capstone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Capstone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Capstone]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_EliminarAcentos]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================
CREATE FUNCTION [dbo].[FN_EliminarAcentos] 
(
	@consulta nvarchar(1000)
)
RETURNS varchar(1000)
AS
BEGIN
	set @consulta = UPPER(@consulta)
	return replace(replace(replace(replace(replace(@consulta,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U')
END
GO
/****** Object:  Table [dbo].[Examen]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examen](
	[IdExamen] [int] IDENTITY(1,1) NOT NULL,
	[NombreExamen] [nvarchar](255) NOT NULL,
	[Tipo] [nvarchar](100) NULL,
	[Fecha] [datetime] NOT NULL,
	[Archivo] [nvarchar](500) NULL,
	[TextoExtraido] [nvarchar](max) NULL,
	[IdUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdExamen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receta](
	[IdReceta] [int] IDENTITY(1,1) NOT NULL,
	[NombreReceta] [varchar](255) NOT NULL,
	[Fecha] [datetime] NULL,
	[IdUsuario] [int] NULL,
	[Archivo] [nvarchar](255) NULL,
	[TextoExtraido] [nvarchar](max) NULL,
	[EsEscaneada] [bit] NOT NULL,
	[RemedioDetectado] [nvarchar](255) NULL,
	[DiasConsumo] [int] NULL,
	[FrecuenciaHoras] [int] NULL,
	[HoraPrimerConsumo] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecetaRemedios]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecetaRemedios](
	[IdReceta] [int] NOT NULL,
	[IdRemedio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReceta] ASC,
	[IdRemedio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Remedios]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remedios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Registro] [nvarchar](255) NULL,
	[NombreRemedio] [nvarchar](255) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[Empresa] [nvarchar](255) NULL,
	[PrincipioActivo] [nvarchar](255) NULL,
	[ControlLegal] [nvarchar](255) NULL,
	[Vigente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](255) NULL,
	[Correo] [varchar](255) NOT NULL,
	[Clave] [varchar](255) NOT NULL,
	[Edad] [int] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Receta] ON 

SET IDENTITY_INSERT [dbo].[Receta] OFF
GO
INSERT [dbo].[RecetaRemedios] ([IdReceta], [IdRemedio]) VALUES (60, 22)
GO
SET IDENTITY_INSERT [dbo].[Remedios] ON 

INSERT [dbo].[Remedios] ([ID], [Registro], [NombreRemedio], [FechaRegistro], [Empresa], [PrincipioActivo], [ControlLegal], [Vigente]) VALUES (1, N'F-14035/24', N'ACTRON 400 CÁPSULAS BLANDAS 400 mg', CAST(N'2004-08-23T00:00:00.000' AS DateTime), N'BAYER S.A.', N'IBUPROFENO', NULL, 1)
INSERT [dbo].[Remedios] ([ID], [Registro], [NombreRemedio], [FechaRegistro], [Empresa], [PrincipioActivo], [ControlLegal], [Vigente]) VALUES (2, N'F-14758/20', N'ACTRON 600 CÁPSULAS BLANDAS 600 mg', CAST(N'2005-04-27T00:00:00.000' AS DateTime), N'BAYER S.A.', N'IBUPROFENO', NULL, 1)
INSERT [dbo].[Remedios] ([ID], [Registro], [NombreRemedio], [FechaRegistro], [Empresa], [PrincipioActivo], [ControlLegal], [Vigente]) VALUES (3, N'F-16002/22', N'ACTRONRA CÁPSULAS BLANDAS 200 mg (IBUPROFENO)', CAST(N'2007-03-26T00:00:00.000' AS DateTime), N'BAYER S.A.', N'IBUPROFENO', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Remedios] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreCompleto], [Correo], [Clave], [Edad], [FechaRegistro]) VALUES (1, N'capstone', N'capstone@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 78, CAST(N'2024-11-09T14:54:11.377' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Examen] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Receta] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Receta] ADD  DEFAULT ((0)) FOR [EsEscaneada]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Examen]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[RecetaRemedios]  WITH CHECK ADD FOREIGN KEY([IdReceta])
REFERENCES [dbo].[Receta] ([IdReceta])
GO
ALTER TABLE [dbo].[RecetaRemedios]  WITH CHECK ADD FOREIGN KEY([IdRemedio])
REFERENCES [dbo].[Remedios] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarUsuario]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarUsuario]
    @IdUsuario INT,
    @NombreCompleto NVARCHAR(100),
    @Correo NVARCHAR(100),
    @Clave NVARCHAR(256),
    @Edad INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Usuario
    SET 
        NombreCompleto = @NombreCompleto,
        Correo = @Correo,
        Clave = @Clave,
        Edad = @Edad
    WHERE 
        IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarExamen]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Procedimiento para agregar un examen
CREATE PROCEDURE [dbo].[SP_AgregarExamen]
    @IdUsuario INT,
    @NombreExamen NVARCHAR(200),
    @Fecha DATE
AS
BEGIN
    INSERT INTO Examen (NombreExamen, Fecha, IdUsuario)
    VALUES (@NombreExamen, @Fecha, @IdUsuario);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarReceta]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarReceta]
    @NombreReceta NVARCHAR(255),
    @Fecha DATE,
    @IdUsuario INT,
    @RemediosIds NVARCHAR(MAX), -- Lista de IDs de remedios separados por comas
    @EsEscaneada BIT,           -- Indica si la receta fue escaneada
    @Archivo NVARCHAR(255),     -- Nombre del archivo
    @TextoExtraido NVARCHAR(MAX), -- Texto extraído del OCR
    @RemedioDetectado NVARCHAR(255) = NULL, -- Nombre del remedio principal detectado
    @DiasConsumo INT,            -- Días que se consumirá el remedio
    @FrecuenciaHoras INT,        -- Frecuencia de consumo en horas
    @HoraPrimerConsumo TIME      -- Hora del primer consumo
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Insertar la receta en la tabla Receta
        INSERT INTO Receta (
            NombreReceta, 
            Fecha, 
            IdUsuario, 
            EsEscaneada, 
            Archivo, 
            TextoExtraido, 
            RemedioDetectado,
            DiasConsumo, 
            FrecuenciaHoras, 
            HoraPrimerConsumo
        )
        VALUES (
            @NombreReceta, 
            @Fecha, 
            @IdUsuario, 
            @EsEscaneada, 
            @Archivo, 
            @TextoExtraido, 
            @RemedioDetectado, 
            @DiasConsumo, 
            @FrecuenciaHoras, 
            @HoraPrimerConsumo
        );

        -- Obtener el ID de la receta recién creada
        DECLARE @IdReceta INT = SCOPE_IDENTITY();

        -- Manejar la relación con los remedios si se proporcionaron IDs
        IF (@RemediosIds IS NOT NULL AND @RemediosIds <> '')
        BEGIN
            -- Dividir la lista de IDs de remedios
            DECLARE @TablaRemedios TABLE (IdRemedio INT);

            INSERT INTO @TablaRemedios (IdRemedio)
            SELECT CAST(value AS INT)
            FROM STRING_SPLIT(@RemediosIds, ',');

            -- Insertar la relación en la tabla intermedia RecetaRemedios
            INSERT INTO RecetaRemedios (IdReceta, IdRemedio)
            SELECT @IdReceta, IdRemedio
            FROM @TablaRemedios;
        END
    END TRY
    BEGIN CATCH
        -- Manejo de errores
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;






GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarRemedioPorNombre]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BuscarRemedioPorNombre]
	@consulta nvarchar(255),
	@cantidad int
AS
BEGIN

	SET NOCOUNT ON;

	SELECT  top(@cantidad)
	ID,Registro,NombreRemedio,FechaRegistro,Empresa,PrincipioActivo,ControlLegal,Vigente 
	from Remedios
	where dbo.FN_EliminarAcentos(concat(NombreRemedio,PrincipioActivo)) like '%' + dbo.FN_EliminarAcentos(@consulta) + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CompararRemedios]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CompararRemedios]
    @Registro VARCHAR(50) = NULL,
    @NombreRemedio VARCHAR(255) = NULL,
    @FechaRegistro DATETIME = NULL,
    @Empresa VARCHAR(255) = NULL,
    @PrincipioActivo VARCHAR(255) = NULL,
    @ControlLegal VARCHAR(50) = NULL,
    @Vigente INT = NULL  -- Nuevo parámetro para filtrar el estado de Vigente
AS
BEGIN
    -- Definir texto de Vigente basado en su valor numérico
    DECLARE @TextoVigente VARCHAR(50);
    
    SET @TextoVigente = CASE @Vigente
        WHEN 1 THEN 'Vigente'
        WHEN 2 THEN 'No vigente'
        WHEN 3 THEN 'Suspensión voluntaria'
        WHEN 4 THEN 'Activo'
        WHEN 5 THEN 'No activo'
        WHEN 6 THEN 'Permanente'
        ELSE NULL
    END;

    -- Seleccionar los remedios considerando el valor traducido de Vigente
    SELECT 
        ID,
        REGISTRO,
        NombreRemedio,
        FechaRegistro,
        Empresa,
        PrincipioActivo,
        ControlLegal,
        Vigente
    FROM [dbo].[Remedios]
    WHERE (REGISTRO = @Registro OR @Registro IS NULL)
      AND (NombreRemedio = @NombreRemedio OR @NombreRemedio IS NULL)
      AND (FechaRegistro = @FechaRegistro OR @FechaRegistro IS NULL)
      AND (Empresa = @Empresa OR @Empresa IS NULL)
      AND (PrincipioActivo = @PrincipioActivo OR @PrincipioActivo IS NULL)
      AND (ControlLegal = @ControlLegal OR @ControlLegal IS NULL)
      AND (Vigente = @TextoVigente OR @TextoVigente IS NULL);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarExamen]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Procedimiento para eliminar un examen
CREATE PROCEDURE [dbo].[SP_EliminarExamen]
    @IdExamen INT
AS
BEGIN
    DELETE FROM Examen WHERE IdExamen = @IdExamen;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarReceta]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarReceta]
    @IdReceta INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Eliminar los registros relacionados en la tabla intermedia RecetaRemedios
        DELETE FROM RecetaRemedios
        WHERE IdReceta = @IdReceta;

        -- Eliminar la receta de la tabla Receta
        DELETE FROM Receta
        WHERE IdReceta = @IdReceta;
    END TRY
    BEGIN CATCH
        -- Manejo de errores
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GuardarExamen]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GuardarExamen]
    @IdExamen INT,
    @IdUsuario INT,
    @NombreExamen NVARCHAR(100),
    @Fecha DATE,
    @Tipo NVARCHAR(50),
    @Archivo NVARCHAR(255),
    @TextoExtraido NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si se trata de una inserción o una actualización
    IF @IdExamen = 0
    BEGIN
        -- Inserción de un nuevo examen
        INSERT INTO Examen (IdUsuario, NombreExamen, Fecha, Tipo, Archivo, TextoExtraido)
        VALUES (@IdUsuario, @NombreExamen, @Fecha, @Tipo, @Archivo, @TextoExtraido);
    END
    ELSE
    BEGIN
        -- Actualización de un examen existente
        UPDATE Examen
        SET NombreExamen = @NombreExamen,
            Fecha = @Fecha,
            Tipo = @Tipo,
            Archivo = @Archivo,
            TextoExtraido = @TextoExtraido
        WHERE IdExamen = @IdExamen;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerExamenesPorUsuario]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para obtener exámenes por usuario
CREATE PROCEDURE [dbo].[SP_ObtenerExamenesPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT IdExamen, NombreExamen, Fecha, Tipo, Archivo, TextoExtraido
    FROM Examen
    WHERE IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerExamenPorId]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para obtener un examen por ID
CREATE PROCEDURE [dbo].[SP_ObtenerExamenPorId]
    @IdExamen INT
AS
BEGIN
    SELECT IdExamen, NombreExamen, Fecha, Tipo, Archivo, TextoExtraido
    FROM Examen
    WHERE IdExamen = @IdExamen;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerRecetaPorId]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerRecetaPorId]
    @IdReceta INT
AS
BEGIN
    SELECT 
        IdReceta, 
        NombreReceta, 
        Fecha, 
        Archivo, 
        TextoExtraido, 
        EsEscaneada, 
        RemedioDetectado, 
        DiasConsumo, 
        FrecuenciaHoras, 
        HoraPrimerConsumo
    FROM Receta
    WHERE IdReceta = @IdReceta;
END;


GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerRecetaPorUsuario]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ObtenerRecetaPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT 
    RR.IdReceta,
    R.RemedioDetectado,
    R.DiasConsumo,
    R.FrecuenciaHoras
FROM 
    RecetaRemedios RR
JOIN 
    Receta R ON RR.IdReceta = R.IdReceta
WHERE 
    R.IdUsuario = @IdUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerRecetasPorUsuario]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para obtener recetas por usuario
CREATE PROCEDURE [dbo].[SP_ObtenerRecetasPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT 
        IdReceta, 
        NombreReceta, 
        Fecha, 
        Archivo, 
        TextoExtraido, 
        EsEscaneada, 
        RemedioDetectado, 
        DiasConsumo, 
        FrecuenciaHoras, 
        HoraPrimerConsumo
    FROM Receta
    WHERE IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerRemedioPorId]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerRemedioPorId]
    @ID INT
AS
BEGIN
    SELECT 
        ID,
        REGISTRO,
        NombreRemedio,
        Empresa,
        PrincipioActivo,
        ControlLegal,
        FechaRegistro,
        -- Convertir Vigente en texto
        CASE 
            WHEN Vigente = 1 THEN 'Vigente'
            WHEN Vigente = 2 THEN 'No vigente'
            WHEN Vigente = 3 THEN 'Suspension voluntaria'
            WHEN Vigente = 4 THEN 'Activo'
            WHEN Vigente = 5 THEN 'No activo'
            WHEN Vigente = 6 THEN 'Permanente'
            ELSE 'Desconocido' -- Valor por defecto
        END AS Vigente
    FROM Remedios
    WHERE ID = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerUsuarioPorId]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerUsuarioPorId]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdUsuario,
        NombreCompleto,
        Correo,
        Clave,
        Edad,
        FechaRegistro
    FROM 
        Usuario
    WHERE 
        IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarUsuario]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistrarUsuario]
    @Correo NVARCHAR(100),
    @Clave NVARCHAR(200),
    @Edad INT,
    @NombreCompleto NVARCHAR(150),  -- Se agrega el campo para el nombre completo
    @Registrado BIT OUTPUT,
    @Mensaje NVARCHAR(100) OUTPUT
AS
BEGIN
    -- Inicializar variables de salida
    SET @Registrado = 0;
    SET @Mensaje = '';

    -- Verificación de campos obligatorios
    IF @Correo IS NULL OR @Correo = ''
    BEGIN
        SET @Mensaje = 'El correo es obligatorio.';
        RETURN;
    END

    IF @Clave IS NULL OR @Clave = ''
    BEGIN
        SET @Mensaje = 'La clave es obligatoria.';
        RETURN;
    END

    IF @Edad <= 0
    BEGIN
        SET @Mensaje = 'La edad es obligatoria y debe ser mayor a 0.';
        RETURN;
    END

    IF @NombreCompleto IS NULL OR @NombreCompleto = ''
    BEGIN
        SET @Mensaje = 'El nombre completo es obligatorio.';
        RETURN;
    END

    -- Verificar si el correo ya está registrado
    IF EXISTS (SELECT 1 FROM Usuario WHERE Correo = @Correo)
    BEGIN
        SET @Mensaje = 'El correo ya está registrado.';
        RETURN;
    END

    -- Insertar nuevo usuario en la tabla Usuario
    BEGIN TRY
        INSERT INTO Usuario (Correo, Clave, Edad, FechaRegistro, NombreCompleto)  -- Se agrega el campo NombreCompleto
        VALUES (@Correo, @Clave, @Edad, GETDATE(), @NombreCompleto);  -- Se agrega el campo NombreCompleto en el INSERT

        SET @Registrado = 1;
        SET @Mensaje = 'Usuario registrado exitosamente.';
    END TRY
    BEGIN CATCH
        SET @Registrado = 0;
        SET @Mensaje = 'Ocurrió un error durante el registro.';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ValidarUsuario]    Script Date: 01/12/2024 9:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ValidarUsuario]
    @Correo NVARCHAR(100),
    @Clave NVARCHAR(500)
AS
BEGIN
    IF EXISTS (SELECT * FROM Usuario WHERE Correo = @Correo AND Clave = @Clave)
        SELECT IdUsuario, Correo, Edad, FechaRegistro FROM Usuario WHERE Correo = @Correo AND Clave = @Clave;
    ELSE
        SELECT '0';
END;
GO
USE [master]
GO
